
@{
    ViewData["Title"] = "ConfirmOrder";
}

<h1 class="text-center bg-success text-light p-3">We received your order</h1><br/>
<h2 class="bg-warning text-center text-light p-3">আপনি সঠিকভাবে অর্ডার সম্পন্ন করেছেন। এখন আপনি অনন্তকাল ধরে অপেক্ষা করুন , আপনার অর্ডারের জন্য ধন্যবাদ।</h2>
<br/>
<br/>

<div class="row">
    <div class="col-5"> </div>
    <div class="col-3">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary mt-1 btn-sm"> Back to Shopping</a>
        </div>
    <div class="col-4"> </div>
</div>
