@model Ecommerce_Project.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Edit";
}

<h4 class="display-4">Edit Products</h4>
<div class="row">
    <div class="col-8 offset-2">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Picture" />

            <div class="row mb-2">
                <label asp-for="Name" class="col-form-label col-2"></label>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Unit" class="col-form-label col-2"></label>
                <div class="col-8">
                    <input asp-for="Unit" class="form-control" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Price" class="col-form-label col-2"></label>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="Quentity" class="col-form-label col-2"></label>
                <div class="col-8">
                    <input asp-for="Quentity" class="form-control" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="Quentity" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-2">
                <label asp-for="PictureFile" class="col-form-label col-2"></label>
                <div class="col-8">
                    <input asp-for="PictureFile" class="form-control" />
                    <img src="@Model.Picture" width="25" />
                </div>
                <div class="col-2">
                    <span asp-validation-for="PictureFile" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
